
#hoguera{ 
 background-image:url(img/fondodialog.png);
 background-size: cover;
 width: 75%;
 height: 72%;
 border-radius: 5%;
 z-index: 1;
}

#imghoguera{
  width: 30%;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 5%;
  box-shadow: 5px 5px 0px #6b6a6a;
}

#bruno{
  width: 42%;
  font-size: 10px;
  margin: auto;
  display: block;
  color: white;
  font-family:cursive;
  text-align: right;
  margin-top: 6px;
}
 
#autor{
  width: 40%;
  font-size: 12px;
  color: white;
  font-family:Courier;
  font-weight: bold;
  text-align: right;
  margin: auto;
  display: block;
}

#cuidado{
  font-family:Lucida Grande;
  color: white;
  font-size:15px;
  width: 60%;
  margin: auto;
  display: block;
  margin-top: 20px;
  text-align: center;
}

#conocimiento{
  border: 2px solid #6884cf;
  padding: 8px 30px;
  font-size: 32;
  position: relative;
  margin: auto;
  display: block;
  font-style: inherit;
  background-color: #6884cf;
  color: white;
  font-weight: 700;
  font-family: Courier;
  transition: color 0.8s
}

#conocimiento:hover{
 color: white;
 background-color: transparent;
 border-radius: 5px;
}

body{
  background-image: url(img/fondo.png);
  background-size: cover;
}

#espacio{
  margin-top: 45px;
  margin: center;
}

#tittle{
 width: 60%;
 margin: 0 auto;
 display: block;
}

#pcifrar{
 color: white;
 font-size: 200%;
 font-family: "Lucida Grande";
 width: 25%;
 margin: auto;
 display: block;
 position: relative;
 left: 60px;
}

#cifrador{
  position: relative;
  left: 500px;
  margin-top: 7px;
}

#barrasci{
  position: relative;
  left: 620px;
  margin-top: 7px;
}

#barrasci2{
  position: relative;
  left: 500px;
  margin-top: 7px;
}

#pdescifrar{
  color: white;
  font-size: 200%;
  font-family: "Lucida Grande";
  width: 25%;
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 24px;position: relative;
  left: 32px;
}

#descifrador{
  position: relative;
  left: 500px;
  margin-top: 7px;
}

#barrasdes{
  position: relative;
  left: 620px;
  margin-top: 7px;
}

#barrasdes2{
  position: relative;
  left: 500px;
  margin-top: 7px;
}

#botoncifrar{
  border: 2px solid white;
  border-radius: 5px ;
  padding: 8px 30px;
  font-size: 32;
  font-style: inherit;
  background-color: white;
  color:#6884cf;
  font-weight: 700;
  font-family: Courier;
  transition: color 0.8s;
}

#botoncifrar:hover{
  color: white;
  background-color: transparent;
  border-radius: 5px;
}

#cifrar{
  border: 2px solid white;
  border-radius: 5px ;
  font-size: 20px;
  padding: 8px 30px;
  background-color: transparent;
  color:white;
  width: 28%;
  height: auto;
  font-family: Courier;
}

#cifrar::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#numcifrar{
  border: 2px solid  white;
  border-radius: 5px ;
  padding: 8px 30px;
  font-size: 20px;
  background-color: transparent;
  color: white;
  font-family: Courier;
}

#numcifrar::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#cifrado{
  border: 2px solid  white;
  border-radius: 5px ;
  padding: 8px 30px;
  font-size: 20px;
  background-color: transparent;
  color: white;
  font-family: Courier;
}

#cifrado::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#botondescifrar{
  border: 2px solid white;
  border-radius: 5px ;
  padding: 8px 30px;
  font-size: 32;
  font-style: inherit;
  background-color: white;
  color: #6884cf;
  font-weight: 700;
  font-family: Courier;
  transition: color 0.8s;
}

#botondescifrar:hover{
  color: white;
  background-color: transparent;
  border-radius: 5px;
}

#descifrar{
  border: 2px solid white;
  border-radius: 5px ;
  font-size: 20px;
  padding: 8px 30px;
  background-color: transparent;
  color:white;
  width: 28%;
  height: 130%;
  font-family: Courier;
}

#descifrar::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#numdescifrar{
  border: 2px solid white;
  border-radius: 5px ;
  padding: 8px 30px;
  font-size: 20px;
  background-color: transparent;
  color: white;
  size:400%;
  font-family: Courier;
}

#numdescifrar::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#descifrado{
  border: 2px solid white;
  border-radius: 5px ;
  padding: 8px 30px;
  font-size: 20px;
  background-color: transparent;
  color: white;
  size:400%;
  font-family: Courier;
}

#descifrado::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#resetci{
  border: 2px solid white;
  border-radius: 5px ;
  padding: 8px 30px;
  font-size: 32;
  font-style: inherit;
  background-color: white;
  color: #6884cf;
  font-weight: 700;
  font-family: Courier;
  transition: color 0.8s;
}

#resetci:hover{
  color: white;
  background-color: transparent;
  border-radius: 5px;
}

#resetdes{
  border: 2px solid white;
  border-radius: 5px ;
  padding: 8px 30px;
  font-size: 32;
  font-style: inherit;
  background-color: white;
  color: #6884cf;
  font-weight: 700;
  font-family: Courier;
  transition: color 0.8s;
}

#resetdes:hover{
  color: white;
  background-color: transparent;
  border-radius: 5px;
}




   
    
    

  

  


 


